.active {
    color: var(--bacraund-color-button);
    position: relative;

}

.active::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--bacraund-color-button);
    border-radius: 2px;

    left: 0px;
    bottom: 0px;
    outline: 2px tomato;
}