.filtr__list {

@media screen and (max-width: 768px) {

  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  justify-content: center
}

  @media screen and (min-width: 1200px) {
      display: flex;
        flex-wrap: wrap;
        margin-bottom: 50px;
          justify-content: center;
        
  }
}

.filtr__item {
  @media screen and (max-width: 767px) {
  margin-top: 15px;
  }
        @media screen and (min-width: 768px) {
          margin-top: 0;
        }
}

.botton-filtr {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: var(--brand-color);
    text-align: center;
    border: 0;
    border-radius: 4px;
    display: block;
    padding: 6px 22px;
    margin-right: 8px;
    cursor: pointer;


  &:hover, &:focus {
            cursor: pointer;
            background-color: var(--bacraund-color-button);
            color: var(--hero-white);
        
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        
            transition: background-color 250ms var(--cubic), box-shadow 250ms var(--cubic);
  }

    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
    }
  
}