
body {
    color: var(--p-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    font-style: normal;
}

.section {
    padding: 94px 0px;
}

.border {
    border-bottom: 1px solid #ECECEC;
}


.footer {
    background-color: var(--fon);
    padding-top: 60px;
    padding-bottom: 60px;
}

