// Our advantages

.progres {

    @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
                        & li {
                                max-width: 354px;
                                padding: 0;
                            }
        }
        @media screen and (min-width: 1200px) {
            display: flex;
            gap: 30px;
            }


}


.progres__icon {
    display: flex;
    justify-content: center;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    align-items: center;
    margin-bottom: 30px;
}

.progres__size-info {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    text-transform: uppercase;
    color: var(--brand-color);

    margin-bottom: 10px;
    text-align: center;


    @media screen and (min-width:768px) {
                text-align: left;
            }
    @media screen and (min-width:1200px) {
    text-align: left;
    }
}

.progres__info {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    
        @media screen and (min-width:1200px) {
                width: 270px;
            }
        
}